Hamk-IoT-Dashboard.json
[{"id":"a704ddd1.16c568","type":"tab","label":"HAMK Dashboard","disabled":false,"info":""},{"id":"9d9184be.818608","type":"ibmiot in","z":"a704ddd1.16c568","authentication":"apiKey","apiKey":"5c5d8595.b2563c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SensBLE_33502","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":110,"y":300,"wires":[["9fd8f414.a268c8","bc73a7d1.e3d378","ca8ff870.eb9a28","c31983b6.5c0bd8","ed4ac9f.20cf1b8","a30ab46d.b3927","5bd98.7502fa688"]]},{"id":"9fd8f414.a268c8","type":"debug","z":"a704ddd1.16c568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":200,"wires":[]},{"id":"ae625891.c50668","type":"inject","z":"a704ddd1.16c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["9aa11fc.46c886"]]},{"id":"9aa11fc.46c886","type":"function","z":"a704ddd1.16c568","name":"Temperature","func":"msg.payload = {\n\t\"d\": {\n\t\t\"Temperature\": 25.923674509,\n\t\t\"timestamp\": 31979\n\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["215c5026.4b021","c31983b6.5c0bd8","ed4ac9f.20cf1b8","bc73a7d1.e3d378","ca8ff870.eb9a28"]]},{"id":"215c5026.4b021","type":"debug","z":"a704ddd1.16c568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":20,"wires":[]},{"id":"aa8bc6c8.ecd83","type":"function","z":"a704ddd1.16c568","name":"Humidity","func":"msg.payload={\n\t\"d\": {\n\t\t\"timestamp\": 31979,\n\t\t\"Humidity\": 45\n\t}\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["c31983b6.5c0bd8","a30ab46d.b3927"]]},{"id":"9477eef2.9291","type":"inject","z":"a704ddd1.16c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["aa8bc6c8.ecd83"]]},{"id":"3ad64b5f.9f42ec","type":"comment","z":"a704ddd1.16c568","name":"Temperature","info":"","x":690,"y":60,"wires":[]},{"id":"7c6750d6.b3fc1","type":"comment","z":"a704ddd1.16c568","name":"Humidity","info":"","x":760,"y":240,"wires":[]},{"id":"c31983b6.5c0bd8","type":"function","z":"a704ddd1.16c568","name":"ms.payload Humidity","func":"\nmsg.payload = msg.payload.d[\"Humidity\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["54bf9196.eac8f"]]},{"id":"a30ab46d.b3927","type":"function","z":"a704ddd1.16c568","name":"add topic hum","func":"msg.payload = msg.payload.d[\"Humidity\"];\nmsg.topic = \"Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["e4bbe08.8ab4f2"]]},{"id":"ed4ac9f.20cf1b8","type":"function","z":"a704ddd1.16c568","name":"add topic temp","func":"msg.payload = msg.payload.d[\"Temperature\"];\nmsg.topic = \"Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["e4bbe08.8ab4f2"]]},{"id":"e4bbe08.8ab4f2","type":"ui_chart","z":"a704ddd1.16c568","name":"","group":"2ab5e1aa.59d126","order":1,"width":0,"height":0,"label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":520,"wires":[[]]},{"id":"b5a224f2.8d9f88","type":"ui_template","z":"a704ddd1.16c568","group":"1be35bb1.0053bc","name":"","order":9,"width":0,"height":0,"format":"\n<style>\n    {{msg.style}}\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":540,"y":640,"wires":[["971376bb.6f87e"]]},{"id":"23a80d80.e05b9a","type":"template","z":"a704ddd1.16c568","name":"CSS","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"/*content*/\n.masonry-container{\n    height:100%;\n    background-image: linear-gradient(lightblue, white, lightgreen);\n}\n\n/* navigation bar*/\n.md-toolbar-tools{\n    background-image: url(\"https://www.hamk.fi/wp-content/uploads/2018/07/HAMK_mobiili-300x97.jpg\");\n    background-repeat: no-repeat;\n    margin-left: 60px;\n    margin-left: 0;\n    background-size: 120px 39px;\n    background-position: 50%;\n    padding:5px;\n        \n    }\n/*.md-toolbar-tools h1{\n    text-align: right;\n    width: 250px;\n    }*/\n\n","output":"str","x":370,"y":640,"wires":[["b5a224f2.8d9f88"]]},{"id":"8a82a0f6.ff4648","type":"inject","z":"a704ddd1.16c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["23a80d80.e05b9a"]]},{"id":"a72dc544.2b6d28","type":"comment","z":"a704ddd1.16c568","name":"Dashboard layout","info":"","x":130,"y":587,"wires":[]},{"id":"971376bb.6f87e","type":"ui_template","z":"a704ddd1.16c568","group":"876a0d9a.0ce908","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":720,"y":641,"wires":[[]]},{"id":"24e8df48.d56548","type":"comment","z":"a704ddd1.16c568","name":"Temperature & Humidity","info":"","x":830,"y":460,"wires":[]},{"id":"bc73a7d1.e3d378","type":"ui_gauge","z":"a704ddd1.16c568","name":"","group":"1be35bb1.0053bc","order":2,"width":"5","height":"5","gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.d[\"Temperature\"].toFixed(2)}}","min":0,"max":"60","colors":["#f6ec00","#96d35f","#ca3838"],"seg1":"15","seg2":"30","x":740,"y":120,"wires":[]},{"id":"ca8ff870.eb9a28","type":"ui_gauge","z":"a704ddd1.16c568","name":"","group":"1be35bb1.0053bc","order":1,"width":"5","height":"5","gtype":"compass","title":"Temperature","label":"°C","format":"{{msg.payload.d[\"Temperature\"].toFixed(2)}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":180,"wires":[]},{"id":"5bd98.7502fa688","type":"ui_gauge","z":"a704ddd1.16c568","name":"","group":"ddb23a3f.a28c08","order":3,"width":"5","height":"5","gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.d[\"Humidity\"].toFixed(2)}}","min":0,"max":"100","colors":["#f6ec00","#96d35f","#ca3838"],"seg1":"30","seg2":"55","x":800,"y":300,"wires":[]},{"id":"54bf9196.eac8f","type":"ui_gauge","z":"a704ddd1.16c568","name":"","group":"ddb23a3f.a28c08","order":2,"width":"4","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":360,"wires":[]},{"id":"619e7817.5f55a8","type":"comment","z":"a704ddd1.16c568","name":"Humidity","info":"","x":100,"y":440,"wires":[]},{"id":"f9bee736.f7de08","type":"comment","z":"a704ddd1.16c568","name":"Temperature","info":"","x":110,"y":40,"wires":[]},{"id":"16b0ad9a.fff93a","type":"comment","z":"a704ddd1.16c568","name":"IoT Platform connection","info":"","x":150,"y":260,"wires":[]},{"id":"5c5d8595.b2563c","type":"ibmiot","z":0,"name":"SensiEDGE","keepalive":"120","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2ab5e1aa.59d126","type":"ui_group","z":"","name":"Temperature & Humidity","tab":"c70d101a.9e8e88","order":3,"disp":true,"width":"20","collapse":false},{"id":"1be35bb1.0053bc","type":"ui_group","z":"","name":"Temperature","tab":"c70d101a.9e8e88","order":1,"disp":true,"width":"10","collapse":false},{"id":"876a0d9a.0ce908","type":"ui_group","z":"","name":"hidden_group","tab":"","disp":false,"width":"6","collapse":false},{"id":"ddb23a3f.a28c08","type":"ui_group","z":"","name":"Humidity","tab":"c70d101a.9e8e88","order":2,"disp":true,"width":"10","collapse":false},{"id":"c70d101a.9e8e88","type":"ui_tab","z":"","name":"IoT Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]